# Ignore iOS build folders
ios/Pods/
ios/build/
ios/DerivedData/
ios/.symlinks/

# Ignore Android build folders
android/.gradle/
android/app/build/
android/build/

# Ignore Node.js dependencies
node_modules/

# Ignore downloaded packages
npm-debug.log
yarn-error.log
package-lock.json
.pnpm-debug.log
.pnpm-store/
.yarn-integrity
yarn.lock
.pnp.cjs
.pnp.loader.mjs
.yarn/*
!.yarn/cache
!.yarn/unplugged
!.yarn/build-state.yml
!.yarn/install-state.gz